In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
x = df.drop(['DiabetesPedigreeFunction', 'SkinThickness', 'Outcome'], axis=1)
x.head()

   Pregnancies  Glucose  BloodPressure  Insulin   BMI  Age
0            6      148             72        0  33.6   50
1            1       85             66        0  26.6   31
2            8      183             64        0  23.3   32
3            1       89             66       94  28.1   21
4            0      137             40      168  43.1   33

In [6]:
y = df['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
model = LogisticRegression()
model

LogisticRegression()

In [11]:
model.fit(x_train, y_train)

LogisticRegression()

In [13]:
df_test = x_test
df_test['y_predict'] = model.predict(x_test)
df_test

     Pregnancies  Glucose  BloodPressure  Insulin   BMI  Age  y_predict
156            2       99             52       94  24.6   21          0
605            1      124             60        0  35.8   21          0
105            1      126             56      152  28.7   21          0
454            2      100             54      105  37.8   24          0
420            1      119             88      170  45.3   26          0
..           ...      ...            ...      ...   ...  ...        ...
705            6       80             80        0  39.8   28          0
691           13      158            114        0  42.3   44          1
315            2      112             68       94  34.1   26          0
515            3      163             70      105  31.6   28          1
357           13      129              0        0  39.9   44          1

[154 rows x 7 columns]

In [16]:
model.score(x_test, y_test)

0.7662337662337663

In [18]:
model.predict([ [0, 100, 80, 56, 40, 58] ])

c:\Users\letic\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [19]:
import pickle

In [20]:
pickle.dump(model, open('modelo.pkl', 'wb'))

In [21]:
model2 = pickle.load(open('modelo.pkl', 'rb'))
model2

LogisticRegression()

In [22]:
model2.predict([ [0, 100, 80, 56, 40, 58] ])

c:\Users\letic\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)